/* 
 *
 * Bradley Site Design
 * 1.0.0
 *
 */

body{ 
	text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6,
span.header,
span.thumb-info {
	font-family:'Oswald', sans-serif;
	text-transform: uppercase;
	color: #284779;
	font-weight: bolder;
}

h3, h4, h5, h6 {
	letter-spacing: .3pt;
}

h1 {
	font-size: 3em;
}

h1.condensed {
 	margin: 5px 0;
}

h5 {
	color:#bdbdbd;
	margin:5px 0;
}

h3 {
	margin:20px 0 10px 0!important;
}

a {
	color: #284779;
}

a:hover, a:focus {
	color:#777;
	text-decoration: none;
}

.bsd-logo {
  width: 598px;
  height: 58px;
  background: url("/images/common/logo.jpg") no-repeat!important;
}

.bsd-logo span {
  display: none!important;
}

/* Header */

#header {
  font-weight: bolder;
  margin-bottom: 20px;
}

#header .header-column {
	align-self: baseline;
}

#header.header-effect-shrink .header-container {
	height: 100px;
}

html.sticky-header-active #header .header-body,
#header .header-body {
	position: relative;
  border-bottom-width: 15px;
  border-bottom-color: rgba(40, 71, 121, 1);
  border-top: 0;
}

#header .mobile-nav {
  display: none;
  padding-top: 10px;
  padding-left: 10px;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
	border-top: 0;
}

.fa-caret-down:before {
  content: "";
}

#header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
	color: rgb(31,73,125);
	font-family:'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.3em;
	letter-spacing: .5pt;
}

#header .header-nav.header-nav-line nav > ul > li > a:before,
#header .header-nav.header-nav-line nav > ul > li:hover > a:before {
	height: 0;
}

#header .header-nav.header-nav-line.header-nav-top-line.header-nav-top-line-with-border nav > ul > li > a:before, 
#header .header-nav.header-nav-line.header-nav-top-line.header-nav-top-line-with-border nav > ul > li:hover > a:before {
	height: 0;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
	font-size: .9em;
}

#header .header-btn-collapse-nav {
  background: #284779;
}

/* Main */

.main {
	padding-top: 10px;
}


/* Theme Columns */
.col,   
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12
.col-auto, 
.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-lg-10, .col-lg-11, .col-lg-12, 
.col-lg-auto, 
.col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-md-10, .col-md-11, .col-md-12, 
.col-md-auto, 
.col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, 
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, 
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
	float: left;
}

/* Front */
div.slider-container > div.social-icons {
  position: absolute;
  top: 87%;
  left: 78%;
  width: 180px;
  z-index: 999;
}

/*
div.social-icons {
	position: relative;
  top: -100px;
  color: white;
  right: 200px;
  float: right;
}*/

div.slider-container > div.social-icons i.fa {
  color: white;
  opacity: .9;
  font-size: 28px;
}

div.slider-container > div.social-icons i.fa:hover {
  opacity: 1;
}

.rev_slider .caption, 
.rev_slider .tp-caption {
	font-family:'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
}

/* About */

span.impact-large,
strong.bold-blue {
	color: rgb(31,73,125);
}

span.impact-large {
  font-size: 1.7em;
}

img.inline-page {
	width: 100%; 
	height: auto;
	margin: 20px 0;
}

div.flex-container {
	justify-content: space-between;
  align-items: center;
  display: flex;
}

ul.nav.nav-pills.sort-source.sort-source-style-3 {
  display: none;
}

span.thumb-info span.thumb-info-title,
.thumb-info:hover .thumb-info-title {
	background: transparent;
	padding: 10px 0;
	letter-spacing: .03em;
  position: inherit;
  color: #616161;
  font-size: 1.4em;
  clear: both;
  text-align: left;
}

span.thumb-info span.thumb-info-type {
	background: transparent;
	font-size: .8em;
	line-height: 1;
	margin: 0;
	padding: 0;
	color: #bbb;
	clear: both;
  text-align: left;
  font-weight: 500;
}

span.thumb-info-caption span.thumb-info-caption-text {
  font-size: 1em;
  margin: 10px 0;
	padding: 15px 0;
  line-height: 1.5;
  text-transform: none;
  font-weight: 400;
	letter-spacing: .05em;
  color: #555;
  clear: both;
  text-align: left;
  height: 80px;
}

span.quoted {
	white-space: nowrap;
  margin-right: 15%;
  float: right;
} 

span.thumb-info span.thumb-info-inner {
  padding: 5px 0;
}

span.thumb-info span.thumb-info-inner .first {
	font-size: 1.7em;
	color: #284779;
}

span.thumb-info span.thumb-info-inner .first::after {
	content: '\0020';
}

img.staff-image {
	width: 100%;
  display: block;
  background-size: 100%;
	background-position: center center;
	padding-top: calc(180 / 305 * 100%);
}


/* Contact */

h2.contact-loc {
	margin: 15px 0 10px 0;
}

span.contact-address {
  white-space: pre;
  display: flex;
}

span.contact-address::before {
  content: '\A';
}

div.social-media {
  margin-bottom: 50px;
}

a.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px 0 0;
  border-radius: 50%;
}

a.fa:hover {
  opacity: 0.7;
}

a.fa-facebook {
  background: #3B5998;
  color: white;
}

a.fa-twitter {
  background: #55ACEE;
  color: white;
}

a.fa-linkedin {
  background: #007bb5;
  color: white;
}

a.fa-instagram {
  background: #125688;
  color: white;
}

input.btn-primary {
	background-color: rgb(31,73,125);
}

.text-dark {
	color: rgb(31,73,125);
}


/* Projects */

div.project-focus  {
	padding: 0;
	height: 475px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 40px;
  height: 40px;
  display: block;
  top: 50%;
  border-radius: 5px;
  border-color: rgb(186, 186, 186, 0);
}

.left-arrow::before,
.right-arrow::before {
	font-family: "revicons";
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
}

div.project-focus > #left-arrow,
.left-arrow {
  z-index: 999;
}

div.project-focus > #right-arrow,
.right-arrow {
  right: 0;
}

.left-arrow::before {
  content: '\e824';
}

.right-arrow::before {
  content: '\e825';
}

div.project-focus img {
	float: right;
  width: 100%;
	object-fit: contain;
  height: 475px;
}

div.project-indv  {
	padding: 0;
	height: 650px;
  width: 100%;
}

div.project-indv img.large {
	height: 650px;
  width: 100%;
}

h1.project-title {
	margin-bottom: 20px;
	text-align: left;
}

h5.project-detail {
  position: absolute;
  text-align: right;
  right: 0;
  padding-right: 5pt;
}

h5.project-title {
  max-width: 146px;
  text-align: center;
}


/* Project Indv */

div.row.project-about {
	border-top: 5px solid #284779;
}

span.header.project-title {
	font-size: 3em;
}

span.header.project-loc {
	color: rgb(189,189,189);
}

span.header.project-cat {
	font-size: 2em;
}

div.col-md-4.glance {
  margin: 20px 0;
  padding: 20px;
  background: rgba(165,165,191,.9);
  color: rgb(40,71,121);
}

.slick-next::before,
.slick-prev::before {
	color: rgba(40,71,121,.9);
}

div.col-md-4.glance p {
  color: rgb(40,71,121);
}

/* Images */

.slider-overview-lg,
.slider-overview-thumbs,
.slider-indv-lg,
.slider-indv-thumbs {
  visibility: hidden;
}

.slider-overview-lg.slick-initialized,
.slider-overview-thumbs.slick-initialized,
.slider-indv-lg.slick-initialized,
.slider-indv-thumbs.slick-initialized {
  visibility: visible;
}

.slick-slide img.thumb {
  display: block;
  object-fit: cover;
  height: 119px;
  width: 98%;
  margin: 10px 0;
}

img.project-large {
	width: 100%!important;
	height: auto!important;
	margin-top: 15px;
	object-fit: cover;
}

img.staff-page-thumb,
img.staff-moving-image {
  width: 100%;
  padding: 10px 0;
}


/* Footer */

#footer {
  border-top: 15px solid #284779;
  /*font-size: 1em;*/
  margin: 30px 0;
}

#footer .footer-copyright {
  background: #fff;
  padding-top: 30px;
}


/* Header Nav Main Mobile */

@media (min-width:1401px){
	

}
@media (min-width:1200px) and (max-width:1399px){

}
@media (min-width:1024px) and (max-width:1200px){
	
	.bsd-logo {
  	width: 325px;
  	height: 50px;
  	background: url("/images/common/logo-icon.jpg") no-repeat!important;
		margin-bottom:0;
	}
	
	/* Indv Projects */
	div.project-indv,
	div.project-indv img.large {
    height: 550px;
  }
  
  .slick-slide img.thumb {
    height: 100px;
  }
  
  .col-md-5, 
  .col-md-7 {
  	font-size: 80%;
  }
  
  .col-md-12 {
  	font-size: 95%;
  }
}

@media (min-width:992px) and (max-width:1023px){
	
	/* Indv Projects */
	div.project-indv,
	div.project-indv img.large {
    height: 500px;
  }
  
  .slick-slide img.thumb {
    height: 90px;
  }
  
  .col-md-5, 
  .col-md-7 {
  	font-size: 80%;
  }
  
  .col-md-12 {
  	font-size: 95%;
  }
}

@media (max-width: 991px) {
	
	/* Indv Projects */
	div.project-indv,
	div.project-indv img.large {
    height: 450px;
  }
  
  .slick-slide img.thumb {
    height: 80px;
  }
  
  .col-md-5, 
  .col-md-7 {
  	font-size: 80%;
  }
  
  .col-md-12 {
  	font-size: 95%;
  }
  
}

@media (max-width: 767px) {

	.container {
		max-width: 90%;
	}

	/* Indv Projects */
	div.project-indv,
	div.project-indv img.large {
    height: 350px;
  }
  
  img.staff-page-thumb {
	  display: none; /*TODO*/
	}
  
}
	
@media (min-width: 480px) and (max-width:766px) {
	
	html.sticky-header-active #header .header-body{
		position:relative;
	}

	.bsd-logo {
  	width: 330px;
  	height: 50px;
  	background: url("/images/common/logo-icon.jpg") no-repeat!important;
		margin-bottom:0;
	}
	
}
	
/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { }
	
@media (max-width: 479px) {
	
	html.sticky-header-active #header .header-body {
		position:relative;
	}
	
	.bsd-logo {
  	width: 300px;
  	height: 46px;
  	background: url(/images/common/logo.jpg) no-repeat!important;
	}
	
	div.project-indv,
	div.project-indv img.large {
    height: 300px;
  }
  
  .slider-indv-thumbs {
    display: none;
  }
}