/* 
 *
 * Bradley Site Design
 * 1.0.0
 *
 */

body{ 
	text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6,
span.header,
span.thumb-info {
	font-family:'Oswald', sans-serif;
	text-transform: uppercase;
	color: #284779;
	font-weight: bolder;
}

h3, h4, h5, h6 {
	letter-spacing: .3pt;
}

h1 {
	font-size: 3em;
}

h1.condensed {
 	margin: 5px 0;
}

h5 {
	color:#bdbdbd;
	margin:5px 0;
}

h3 {
	margin:20px 0 10px 0!important;
}

a {
	color: #284779;
	outline : none;
}

a img {
  outline : none;
  border: 0;
  border-style: none;
}

a:hover, a:focus {
	color:#777;
	text-decoration: none;
	border-style: none;
	outline : none;
}

.bsd-logo {
  width: 598px;
  height: 58px;
  background-image: url(/images/common/logo.png);
  /*background-image: linear-gradient(transparent, transparent),url(/images/common/logo.svg);*/
  background-size: 600px;
  background-repeat: no-repeat!important;
	background-position: top left;
	margin-left: -3%;
}

.bsd-logo span {
  display: none!important;
}

.portrait {
  display: none;
}

/* Header */

#header {
  font-weight: bolder;
  margin-bottom: 20px;
}

#header .header-column {
	align-self: baseline;
}

#header.header-effect-shrink .header-container {
	height: 100px;
}

html.sticky-header-active #header .header-body,
#header .header-body {
	position: relative;
  border-bottom-width: 15px;
  border-bottom-color: rgba(40, 71, 121, 1);
  border-top: 0;
}

#header .mobile-nav {
  display: none;
  padding-top: 10px;
  padding-left: 10px;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
	border-top: 0;
}

.fa-caret-down:before {
  content: "";
}

#header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
	color: rgb(31,73,125);
	font-family:'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.3em;
	letter-spacing: .5pt;
}

#header .header-nav.header-nav-line nav > ul > li > a:before,
#header .header-nav.header-nav-line nav > ul > li:hover > a:before {
	height: 0;
}

#header .header-nav.header-nav-line.header-nav-top-line.header-nav-top-line-with-border nav > ul > li > a:before, 
#header .header-nav.header-nav-line.header-nav-top-line.header-nav-top-line-with-border nav > ul > li:hover > a:before {
	height: 0;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
	font-size: .9em;
}

#header .header-btn-collapse-nav {
  background: #284779;
}

#header .header-logo {
	top: .5rem!important;
}

/* Main */

.main {
	padding-top: 10px;
}

/* Front */
div.slider-container > div.social-icons {
  position: absolute;
  top: 87%;
  left: 78%;
  width: 180px;
  z-index: 999;
}

/*
div.social-icons {
	position: relative;
  top: -100px;
  color: white;
  right: 200px;
  float: right;
}*/

div.slider-container > div.social-icons i.fa {
  color: white;
  opacity: .9;
  font-size: 28px;
}

div.slider-container > div.social-icons i.fa:hover {
  opacity: 1;
}

.rev_slider .caption, 
.rev_slider .tp-caption {
	font-family:'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
}

/* About */

span.impact-large,
strong.bold-blue {
	color: rgb(31,73,125);
}

span.impact-large {
  font-size: 1.7em;
}

img.inline-page {
	width: 100%; 
	height: auto;
}

div.push-right > img.inline-page {
  padding-left: 1rem!important;
}

div.flex-container {
	justify-content: space-between;
  align-items: center;
  display: flex;
}

ul.nav.nav-pills.sort-source.sort-source-style-3 {
  display: none;
}

span.thumb-info span.thumb-info-title,
.thumb-info:hover .thumb-info-title {
	background: transparent;
	padding: 10px 0;
	letter-spacing: .03em;
  position: inherit;
  color: #616161;
  font-size: 1.4em;
  clear: both;
  text-align: left;
}

span.thumb-info span.thumb-info-type {
	background: transparent;
	font-size: .8em;
	line-height: 1;
	margin: 0;
	padding: 0;
	color: #bbb;
	clear: both;
  text-align: left;
  font-weight: 500;
}

span.thumb-info-caption span.thumb-info-caption-text {
  font-size: 1em;
  margin: 10px 0;
	padding: 15px 0;
  line-height: 1.5;
  text-transform: none;
  font-weight: 400;
	letter-spacing: .05em;
  color: #555;
  clear: both;
  text-align: left;
  height: 125px;
}

span.quoted {
	white-space: nowrap;
  margin-right: 15%;
  float: right;
} 

span.thumb-info span.thumb-info-inner {
  padding: 5px 0;
}

span.thumb-info span.thumb-info-inner .first {
	font-size: 1.7em;
	color: #284779;
}

span.thumb-info span.thumb-info-inner .first::after {
	content: '\0020';
}

img.staff-image {
	width: 100%;
  display: block;
  background-size: 100%;
	background-position: center center;
	padding-top: calc(180 / 305 * 100%);
}

.col-md-12 ul li {
  line-height: 24px;
  list-style-type: circle;
  margin-left: -13pt;
  line-height: 20pt;
  font-size: 1.1em;
}

div.community {
	display: flex;
}

div.community ul {
	padding: 0 0 0 13pt;
}

.community ul li { 
  line-height: 24px;
  list-style-type: none;
  line-height: 20pt;
  font-size: 1.1em;
  padding: 5pt 5pt 5pt 0;
  overflow: hidden;
  width: fit-content;
}

.community ul li span { 
  padding: 2pt 0 2pt 10pt;
}

.timeline {
  width: 12%;
  min-width: 100px;
  display: block;
  height: 550px;
  float: left;
  border-right: 1px solid #284779;
}

div.timeline-year {
	position: relative;
	top: -12px;
	font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #284779;
  font-weight: bolder;
  font-size: 3em;
  line-height: 45pt;
  text-align: right;
  padding-right: 8pt;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 1;
}

div.timeline-year.year-range {
  white-space: nowrap;
  left: -35pt;
}

div.timeline-year.month-year {
  white-space: nowrap;
  left: -22pt;
}

div.timeline-year.frequent {
  white-space: nowrap;
  left: -12pt;
}

.award {
  font-size: 1.1em;
  letter-spacing: -.02em;
  color: #284779;
}

.highlight-award {
	background-color: #efefef;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.highlight-award::before {
	content: '\25B7'; /* \00a0 */
	display: inline-block;
  margin-left: -4pt;
}

.highlight-award > .award {
  margin-left: -8pt;
  font-weight: bold;
}


div.image-row > .col-md-3 {
  height: 180px;
  overflow: hidden;
}

div.image-row > .col-md-4 {
  height: 140px;
  overflow: hidden;
}

div.image-row > .col-md-3 img,
div.image-row > .col-md-4 img,
div.image-row > img {
  height: 100%;
  width: 100%;
	object-fit: cover;
}

div.image-row > div.floating-right {
  position: relative;
  width: 20%;
  display: block;
  margin-bottom: -200px;
}

div.image-row > div.floating-right.first {
  top: 50px;
  left: 60%;
}

div.image-row > div.floating-right.second {
  top: 120px;
  left: 78%;
}

div.image-row > div.floating-right.third {
  top: 30px;
  left: 55%;
  width: 35%;
}

div.image-row > div.floating-right.third > img {
  border-radius: 50%;
}

div.image-row > div.floating-right > img {
  width: 100%;
}

/* Contact */

h2.contact-loc {
	margin: 15px 0 10px 0;
}

span.contact-address {
  white-space: pre;
  display: flex;
}

span.contact-address::before {
  content: '\A';
}

div.social-media {
  margin-bottom: 50px;
}

a.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px 0 0;
  border-radius: 50%;
}

a.fa:hover {
  opacity: 0.7;
}

a.fa-facebook {
  background: #3B5998;
  color: white;
}

a.fa-twitter {
  background: #55ACEE;
  color: white;
}

a.fa-linkedin {
  background: #007bb5;
  color: white;
}

a.fa-instagram {
  background: #125688;
  color: white;
}

input.btn-primary {
	background-color: rgb(31,73,125);
}

.text-dark {
	color: rgb(31,73,125);
}

.text-hide {
	display: none;
}


/* Projects */

div.impact-focus,
div.project-focus  {
	padding: 0;
	float: right!important;
	margin-left: 1.5rem!important;
  margin-bottom: .5rem!important;
}

div.summary,
div.project-summary {}

.left-arrow,
.right-arrow {
	cursor:pointer;
	background:#000;
	background:rgba(0,0,0,.5);
	width:40px;
	height:40px;
	position:absolute;
	display:block;
  top: 50%;
  border-radius: 5px;
}

.left-arrow::hover,
.right-arrow::hover {
	background: #000; 
}

.left-arrow::before,
.right-arrow::before {
	font-family: "revicons";
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
}

div.project-focus > #left-arrow,
.left-arrow {
  z-index: 999;
}

div.project-focus > #right-arrow,
.right-arrow {
  right: 0;
}

.left-arrow::before {
  content: '\e824';
}

.right-arrow::before {
  content: '\e825';
}

div.impact-focus img,
div.project-focus img {
	float: right;
  width: 100%;
	object-fit: contain;
}

div.impact-focus img {
	object-fit: contain;
}

div.project-focus img {
	object-fit: cover;
	height: 400px;
}

div.project-indv  {
	padding: 0;
	height: auto;
  width: 100%;
}

div.project-indv img.large {
	height: 600px;
	object-fit: cover;
  width: 100%;
}

h1.project-title {
	margin-bottom: 20px;
	text-align: left;
}

h5.project-detail {
  position: absolute;
  text-align: right;
  right: 0;
  padding-right: 5pt;
}

h5.project-detail.light > span {
  background: rgba(111,111,111,.4);
  padding: 2pt 4pt;
}

h5.project-detail.dark > span {
  background: rgba(333,333,333,.65);
  padding: 2pt 4pt;
}

h5.project-title {
  max-width: 146px;
  text-align: center;
}


/* Project Indv */

div.row.project-about {
	border-top: 5px solid #284779;
}

span.header.project-title {
	font-size: 3em;
	white-space: pre;
}

span.header.project-loc {
	color: rgb(189,189,189);
}

span.header.project-cat {
	font-size: 2em;
	text-align: right;
	float: right;
}

div.col-md-4.glance {
  margin: 20px 0;
  padding: 20px;
  background: rgba(165,165,191,.9);
  color: rgb(40,71,121);
}

.slick-next::before,
.slick-prev::before {
	color: rgba(40,71,121,.9);
}

div.col-md-4.glance p {
  color: rgb(40,71,121);
}

div.glance {
	padding-left: 15px;
}

span.property-before {
  position: absolute;
  bottom: 50px;
  left: 50px;
	background: rgba(333,333,333,.7);
	text-transform: uppercase;
	font-weight: 700;
	padding: 8pt 14pt;
	font-size: 1.5em;
	color: #1e3964;
}
	

/* Images */

.slider-overview-lg,
.slider-overview-thumbs,
.slider-indv-lg,
.slider-indv-thumbs {
  visibility: hidden;
}

.slider-overview-lg.slick-initialized,
.slider-overview-thumbs.slick-initialized,
.slider-indv-lg.slick-initialized,
.slider-indv-thumbs.slick-initialized {
  visibility: visible;
}

.slick-slide img.thumb {
  display: block;
  object-fit: cover;
  height: 100px;
  width: 95%;
  margin: 10px 0;
  object-position: left;
}

img.project-large {
	width: 100%!important;
	height: auto!important;
	margin-top: 15px;
	object-fit: cover;
}

img.staff-page-thumb,
img.staff-moving-image {
  width: 100%;
  padding: 10px 0;
}


/* Footer */

#footer {
  border-top: 15px solid #284779;
  /*font-size: 1em;*/
  margin: 30px 0;
}

#footer .footer-copyright {
  background: #fff;
  padding-top: 30px;
}

/* BOOTSTRAP OVERRIDES */

.row {
	clear: both;
}

.separate {
	margin-top: 2rem!important;
}

/* Theme Columns */
.col,   
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12
.col-auto, 
.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-lg-10, .col-lg-11, .col-lg-12, 
.col-lg-auto, 
.col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-md-10, .col-md-11, .col-md-12, 
.col-md-auto, 
.col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, 
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, 
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
	float: left;
}

/* Column Floats */

.push-right { float: right!important; }
.push-down { margin-top: 4.5rem!important; }

.col-md-pull-12 { right:100%; }
.col-md-pull-11 { right:91.66666667%; }
.col-md-pull-10 { right:83.33333333%; }
.col-md-pull-9 { right:75%; }
.col-md-pull-8 { right:61.66666667%; }
.col-md-pull-7 { right:58.33333333%; }
.col-md-pull-6{ right:50%; }
.col-md-pull-5{ right:41.66666667%; }
.col-md-pull-4 { right:33.33333333%; }
.col-md-pull-3{ right:25%; }
.col-md-pull-2{ right:16.66666667%; }
.col-md-pull-1{ right:8.33333333%; }
.col-md-pull-0{ right:auto; }

.col-md-push-12 { left:100%; }
.col-md-push-11 { left:91.66666667%; }
.col-md-push-10 { left:83.33333333%; }
.col-md-push-9 {  left:75%; }
.col-md-push-8 {  left:66.66666667%; }
.col-md-push-7 {  left:58.33333333%; }
.col-md-push-6 {  left:50%}
.col-md-push-5 {  left:41.66666667%; }
.col-md-push-4 {  left:38.33333333%; }
.col-md-push-3 {  left:25%; }
.col-md-push-2 {  left:16.66666667%; }
.col-md-push-1 {  left:8.33333333%; }
.col-md-push-0 {  left:auto; }


.col-md-4 { width:38.33333333%; }
.col-md-8 { width:61.66666667%; }
.col-md {
	padding-left: 1px;
	padding-right: 1px;
}


/* Header Nav Main Mobile */

@media (min-width:1401px){
	

}
@media (min-width:1200px) and (max-width:1399px){

}
@media (min-width:1024px) and (max-width:1200px){

	#header .header-logo {
		top: .8rem!important;
	}
	
	.bsd-logo {
  	width: 325px;
  	height: 50px;
  	background-image: url("/images/common/logo-clip.png");
  	/*background-image: url("/images/common/logo-clip.svg"),linear-gradient(transparent, transparent);*/
		margin-bottom:0;
		background-size: 325px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-left: 0;
	}
	
	/* Indv Projects */
	div.project-indv img.large {
    height: 500px;
  }
  
  div.project-focus img {
		height: 360px;
	}
  
  .slick-slide img.thumb {
    height: 100px;
  }
  
  .container {
  	font-size: 95%;
  }
}

@media (min-width:992px) and (max-width:1023px){

	#header .header-logo {
		top: .8rem!important;
	}

	.bsd-logo {
  	width: 325px;
  	height: 50px;
  	background-image: url("/images/common/logo-clip.png");
  	/*background-image: url("/images/common/logo-clip.svg"),linear-gradient(transparent, transparent);*/
  	background-size: 325px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-bottom:0;
		margin-left: 0;
	}
	
	/* Indv Projects */
	div.project-indv img.large {
    height: 400px;
  }
  
  div.project-focus img {
		height: 300px;
	}
  
  .slick-slide img.thumb {
    height: 90px;
  }
  
  .container {
  	font-size: 95%;
  }
}

@media (max-width: 991px) {

	#header .header-logo {
		top: .8rem!important;
	}

	.bsd-logo {
  	width: 550px;
  	height: 50px;
  	background-image: url("/images/common/logo.png");
  	background-size: 550px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-bottom:0;
		margin-left: 0;
	}
	
	/* Indv Projects */
	div.project-indv img.large {
   height: 350px;
  }

  div.project-focus img {
		height: 250px;
	}   
  
  .slick-slide img.thumb {
    height: 80px;
  }
  
  .container {
  	font-size: 95%;
  }
  
}

@media (max-width: 767px) {

	.bsd-logo {
  	width: 325px;
  	height: 50px;
  	background-image: url("/images/common/logo-clip.png");
  	/*background-image: url("/images/common/logo-clip.svg"),linear-gradient(transparent, transparent);*/
  	background-size: 325px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-bottom:0;
		margin-left: 0;
	}

	.container {
		max-width: 90%;
	}

	/* Indv Projects */
	div.project-indv img.large {
    height: 250px;
  }
  
  img.staff-page-thumb {
	  display: none; /*TODO*/
	}
  
}
	
@media (min-width: 480px) and (max-width:766px) {
	
	html.sticky-header-active #header .header-body{
		position:relative;
	}
	
	#header .header-logo {
		top: 1.1rem!important;
	}

	.bsd-logo {
  	width: 325px;
  	height: 50px;
  	background-image: url("/images/common/logo-clip.png");
  	/*background-image: url("/images/common/logo-clip.svg"),linear-gradient(transparent, transparent);*/
  	background-size: 325px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-bottom:0;
		margin-left: 0;
	}
	
	div.project-summary {
    clear: left;
	}
	
	div.project-focus {
		float: left!important;
		margin-left: 0!important;
		margin-bottom: 2rem!important;
		width: 100%;
	}
	
	img.inline-page {
		margin: 10px 0 10px 0;
	}
	
	div.push-right > img.inline-page {
		padding-left: 0rem!important;
	}
	
	div.push-down { margin-top: 1rem!important; }
	
	/*
	div.col-md-5 { width:45%; }
	div.col-md-7 { width:55%; }
	*/
}
	
/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
	
	html.sticky-header-active #header .header-body {
		position: relative;
	}
	
	#header .header-logo {
		top: 1.1rem!important;
	}
	
	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
    font-size: 1.2em;
  }
  
  #header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
    font-size: 1.6em;
  }
	
	.bsd-logo {
  	width: 300px;
  	height: 50px;
  	background-image: url("/images/common/logo-clip.png");
  	/*background-image: url("/images/common/logo-clip.svg"),linear-gradient(transparent, transparent);*/
  	background-size: 300px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-bottom:0;
		margin-left: 0;
	}
	
	.portrait {
  	display: block;
	}
	
	.landscape {
  	display: none;
	}
	
	div.tp-caption.main-label {
		font-size: 33pt;
		font-family:'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		line-height: 33pt;
	}
	
	div.col-md-12 ul li {
		text-align: left;
	}
	
	div.project-indv {
		margin-top: 10px;
	}
	
	div.project-indv img.large {
    height: 225px;
  }
  
  div.project-focus img {
		height: 200px;
	}
  
  .slider-indv-thumbs {
    display: none;
  }
  
  div.row.project-about {
    border-top: 0; 
  }
  
	div.project-summary {
    clear: left;
	}
	
	div.project-focus {
		float: left!important;
		margin-left: 0!important;
		margin-bottom: 2rem!important;
		width: 100%;
	}
	
	img.inline-page {
		margin: 10px 0 10px 0;
	}
	
	div.push-right > img.inline-page {
		padding-left: 0rem!important;
	}
	
	div.col-md-12 > .col-md-4,
	div.col-md-12 > .col-md-5,
	div.col-md-12 > .col-md-6,
	div.col-md-12 > .col-md-7,
	div.col-md-12 > .col-md-8 {
		padding: 0;
	}	
	
	div.col-md-12 > .col-md-4.glance {
		padding: 15px;
	}
	
	div.push-down { margin-top: 1rem!important; }
	
	span.header.project-cat {
		
	}
	
	span.header.project-loc {
	  float: right;
	  margin-top: 10px;
	}
  
  span.header.project-title {
    white-space: normal;
  }
  
  span.header.mobile-nowrap {
    white-space: pre;
  }
	
	div.row.project-about {
    border-top: none;
  }
  
  p {
    font-size: 12pt;
    color: #5c5c5c;
    text-align: left;
  }
}
	
@media (max-width: 479px) {
	
	html.sticky-header-active #header .header-body {
		position: relative;
	}
	
	#header .header-logo {
		top: 1.4rem!important;
	}	
		
	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
    font-size: 1.2em;
  }
  
  #header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
    font-size: 1.6em;
  }
	
	.bsd-logo {
  	width: 275px;
  	height: 50px;
  	background-image: url("/images/common/logo-clip.png");
  	/*background-image: url("/images/common/logo-clip.svg"),linear-gradient(transparent, transparent);*/
  	background-size: 275px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-bottom:0;
		margin-left: -5px;
	}
	
	#header .header-body {
    position: relative;
    border-bottom-width: 10px;
    border-bottom-color: rgba(40, 71, 121, 1);
    border-top: 0;
	}
	
	#footer {
    border-top: 10px solid #284779;
    margin: 10px 0;
  }
  
  #footer .footer-copyright p {
    margin-top: -10px;
    font-size: .7em;
	}
	
	.portrait {
  	display: block;
	}
	
	.landscape {
  	display: none;
	}
	
	div.tp-caption.main-label {
		font-size: 33pt;
		font-family:'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		line-height: 33pt;
	}
		
	div.col-md-12 ul li {
		text-align: left;
	}
	
	div.project-indv {
		margin-top: 10px;
	}
	
	div.project-indv img.large {
    height: 225px;
  }
  
  div.project-focus img {
		height: 200px;
	}
  
  .slider-indv-thumbs {
    display: none;
  }
  
  div.row.project-about {
    border-top: 0; 
  }
  
  
	div.project-summary {
    clear: left;
	}
	
	div.project-focus {
		float: left!important;
		margin-left: 0!important;
		margin-bottom: 2rem!important;
		width: 100%;
	}

	div.col-md-12 > .col-md-4,
	div.col-md-12 > .col-md-5,
	div.col-md-12 > .col-md-6,
	div.col-md-12 > .col-md-7,
	div.col-md-12 > .col-md-8 {
		padding: 0;
		width: 100%;
	}	
	
	div.col-md-12 > .col-md-4.glance {
		padding: 15px;
	}
	
	div.push-down { margin-top: 1rem!important; }
	
	img.inline-page {
		margin: 10px 0 10px 0;
	}
	
	div.push-right > img.inline-page {
		padding-left: 0rem!important;
	}
	
	span.header.project-cat {
		
	}
	
	span.header.project-loc {
	  float: right;
	  margin-top: 10px;
	}
  
  span.header.project-title {
    white-space: normal;
  }
  
  span.header.mobile-nowrap {
    white-space: pre;
  }
	
	p {
    font-size: 12pt;
    color: #5c5c5c;
    text-align: left;
  }
}

@media (max-width: 375px) {
	
	.bsd-logo {
  	width: 230px;
  	height: 50px;
  	background-image: url("/images/common/logo-clip.png");
  	/*background-image: url("/images/common/logo-clip.svg"),linear-gradient(transparent, transparent);*/
  	background-size: 230px;
  	background-repeat: no-repeat!important;
		background-position: top left;
		margin-bottom:0;
		margin-left: -15px;
	}
}