/*Hand cursor*/


.RadMenuPopup .rmRootGroup div.RadMenu {

    top:20px
}

.RadMenu_SmartSite a span {
    cursor: pointer;
    z-index: 0;
}

/* alignment of drop-down*/
.RadMenu .rmHorizontal .rmSlide {
    margin-top: 5px !important;
    margin-left: 20px !important
}


/* <RadMenu / Black> */
.RadMenu_SmartSite .rmRootGroup,
.RadMenu_SmartSite a.rmLink,
.RadMenu_SmartSite .rmText,
.RadMenu_SmartSite .rmLeftArrow,
.RadMenu_SmartSite .rmRightArrow,
.RadMenu_SmartSite .rmTopArrow,
.RadMenu_SmartSite .rmBottomArrow {
    background-image: url('Menu/rmSprite.png');
    background-color: transparent;
}

.RadMenu_SmartSite .rmRootGroup {
    background-image: none;
    background-color: none;
    margin-top: 0px !important;
}

    .RadMenu_SmartSite .rmRootGroup a.rmLink {
        /*text-decoration: none;
        background-image: none;
        padding: 8px 0px 0px 20px;
        margin-top: 0px;
        text-decoration: none;*/
        color: #284779;
        font-size: 1em;
        font-family: 'Oswald', sans-serif;
        letter-spacing:1pt;
        text-transform: uppercase
    }

        .RadMenu_SmartSite .rmRootGroup a.rmLink:hover {
            text-decoration: none;
            background-image: none;
            color: #6d6d6d;
        }

    .RadMenu_SmartSite .rmRootGroup .rmLast {
        /*background-image: none !important;*/
    }

    .RadMenu_SmartSite .rmRootGroup .rmItem {
        height: 34px;
    }



        .RadMenu_SmartSite .rmRootGroup .rmItem:hover {
            /*background-image: url(/images/nav/aboutBG.jpg);
            background-position: center center;*/
        }

.RadMenu_SmartSite .rmGroup .rmItem {
    background-image: none;
    height: auto !important;
    text-decoration: none !important ;
        text-transform: none !important;
        letter-spacing:normal
            
}

    .RadMenu_SmartSite .rmGroup .rmItem:hover {
        background-color: #e8e8e8;
        background-image: none;
    }




.RadMenu_SmartSite .rmVertical {
    background-position: 0 -408px;
}

/* <Root items> */

.RadMenu_SmartSite .rmGroup a.rmLink {
    font: normal 14px/30px "Open Sans", Arial, sans-serif;
    color: #666666;
    text-decoration: none;
    text-align: left;
    padding-left: 0 !important;
    margin-left: 0 !important;
    /*border-bottom: 1px solid #4c4441 !important;*/
    text-transform: none !important;
        letter-spacing: normal
}

    .RadMenu_SmartSite .rmGroup a.rmLink:hover {
        color: #284779;
        text-decoration: none;
        text-align: left;
    }

.RadMenu_SmartSite a.rmLink,
.RadMenu_SmartSite .rmText {
    background-repeat: no-repeat;
    background-position: 0 500px;
}

    .RadMenu_SmartSite a.rmLink:hover,
    .RadMenu_SmartSite a.rmFocused,
    .RadMenu_SmartSite a.rmSelected {
        background-position: 0 -72px;
    }


.RadMenu_SmartSite a.rmDisabled,
.RadMenu_SmartSite a.rmDisabled:hover {
    color: #7d7d7d;
    background-position: 0 500px;
}

/* </Root items> */
/* <Submenu items> */
.RadMenu_SmartSite .rmGroup,
.RadMenu_SmartSite .rmMultiColumn,
.RadMenu_SmartSite .rmGroup .rmVertical {
    border: 1px solid #808080;
    background-color: white;
}

.RadMenu_SmartSite .rmTopFix,
.RadMenu_SmartSite .rmBottomFix,
.RadMenu_SmartSite .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_SmartSite .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_SmartSite .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_SmartSite .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_SmartSite_Context.rmRoundedCorners ul.rmHorizontal .rmFirst {
    background-image: url('Menu/rmVSprite.png');
    background-color: #4f4f4f;
    background-repeat: repeat-y;
}

* html .rmRoundedCorners_SmartSite .rmGroup .rmItem,
* html .rmRoundedCorners_SmartSite ul.rmHorizontal .rmFirst {
    background-image: url('Menu/rmVSprite.png');
    background-color: #4f4f4f;
    background-repeat: repeat-y;
}

.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_SmartSite .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_SmartSite .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_SmartSite .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrap .rmVertical {
    background-image: none;
}

* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_SmartSite .rmScrollWrap .rmItem,
* html .rmRoundedCorners_SmartSite .rmHorizontal .rmItem,
* html .rmRoundedCorners_SmartSite .rmScrollWrap .rmVertical {
    background-image: none;
}

.RadMenu_SmartSite .rmRoundedCorners .rmGroupColumn {
    background-color: #4f4f4f;
}

.RadMenu_SmartSite .rmBottomLeft,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_SmartSite_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_SmartSite .rmRoundedCorners ul.rmGroup,
.RadMenu_SmartSite .rmRoundedCorners .rmMultiColumn {
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer,
* html .rmRoundedCorners_SmartSite .rmGroup ul.rmGroup,
* html .rmRoundedCorners_SmartSite ul.rmGroup {
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_SmartSite .rmTopRight,
.RadMenu_SmartSite .rmBottomRight {
    background-image: url('Menu/rmRoundedRight.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_SmartSite .rmTopFix,
.RadMenu_SmartSite .rmBottomFix,
.RadMenu_SmartSite .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_SmartSite .rmGroup .rmFirst {
    border-color: #080808;
}

.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix {
    background: #4F4F4F;
}

* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer .rmBottomFix {
    background: #4F4F4F;
}

.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow {
    background-color: #4F4F4F;
    border: 0;
}

* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_SmartSite .rmScrollWrapContainer .rmRightArrow {
    background-color: #4F4F4F;
    border: 0;
}

.RadMenu_SmartSite_rtl .rmBottomLeft,
.RadMenu_SmartSite_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_SmartSite_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_SmartSite .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_SmartSite_Context_rtl ul.rmGroup,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer {
    background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_SmartSite_rtl .rmTopRight,
.RadMenu_SmartSite_rtl .rmBottomRight {
    background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_SmartSite_rtl li.rmTopFix,
.RadMenu_SmartSite_rtl li.rmBottomFix,
.RadMenu_SmartSite_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_SmartSite_Context_rtl .rmGroup .rmItem {
    background-position: 101% 0;
}

.RadMenu_SmartSite .rmSlide .rmScrollWrap {
    background-image: none;
}

.RadMenu_SmartSite_rtl .rmGroup,
.RadMenu_SmartSite_rtl .rmMultiColumn,
.RadMenu_SmartSite_rtl .rmGroup .rmVertical {
    background-position: 100% 0;
}

.RadMenu_SmartSite .rmRootGroup li.rmItem .rmGroup {
    padding-bottom: 0;
}

.RadMenu_SmartSite .rmGroup li.rmLast {
    padding-bottom: 0px;
}

.RadMenu_SmartSite .rmRootGroup .rmHorizontal {
    background-image: none;
}

.RadMenu_SmartSite .rmScrollWrap .rmVertical {
    border: 0;
}

.RadMenu_SmartSite .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_SmartSite_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_SmartSite .rmScrollWrapContainer li.rmItem {
    background: none;
}

.RadMenu_SmartSite .rmGroup .rmItem a.rmLink,
.RadMenu_SmartSite .rmGroup .rmItem a.rmLink:hover,
.RadMenu_SmartSite .rmGroup .rmItem a.rmFocused,
.RadMenu_SmartSite .rmGroup .rmItem a.rmSelected,
.RadMenu_SmartSite .rmGroup .rmItem a.rmExpanded {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.RadMenu_SmartSite .rmGroup a.rmLink,
.RadMenu_SmartSite .rmGroup .rmText,
.RadMenu_SmartSite .rmGroup .rmItem a.rmDisabled,
.RadMenu_SmartSite .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_SmartSite .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_SmartSite .rmGroup .rmItem a.rmDisabled:hover .rmText {
    background-position: 0 500px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0px 20px 0px 10px !important;
}

    .RadMenu_SmartSite .rmGroup a.rmLink:hover,
    .RadMenu_SmartSite .rmGroup a.rmFocused,
    .RadMenu_SmartSite .rmGroup a.rmSelected,
    .RadMenu_SmartSite .rmGroup a.rmExpanded {
        background-position: 0 -168px;
        background-color: #e8e8e8 !important;
    }

        .RadMenu_SmartSite .rmGroup a.rmLink:hover .rmText,
        .RadMenu_SmartSite .rmGroup a.rmFocused .rmText,
        .RadMenu_SmartSite .rmGroup a.rmSelected .rmText,
        .RadMenu_SmartSite .rmGroup a.rmExpanded .rmText {
            /*  background-position: 100% -192px;*/
            background-color: #e8e8e8 !important;
        }

    /* <expand arrows> */
    .RadMenu_SmartSite .rmVertical .rmExpandRight,
    .RadMenu_SmartSite .rmGroup .rmExpandDown,
    .RadMenu_SmartSite_Context .rmGroup .rmExpandRight,
    .RadMenu_SmartSite .rmVertical .rmItem a.rmDisabled .rmExpandRight,
    .RadMenu_SmartSite .rmGroup .rmItem a.rmDisabled .rmExpandDown,
    .RadMenu_SmartSite .rmVertical .rmItem a.rmDisabled:hover .rmExpandRight,
    .RadMenu_SmartSite .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown {
        /*background-position: 100% -216px;*/
        background-image: url('/Skins/Black/Menu/rightArrowOff.png');
        background-position: right;
    }

.RadMenu_SmartSite .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_SmartSite .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_SmartSite .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_SmartSite .rmVertical a.rmExpanded .rmExpandRight {
    /*background-position: 100% -312px;*/
    background-image: url('/Skins/Black/Menu/rightArrowOff.png');
    background-position: right;
}

.RadMenu_SmartSite .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_SmartSite .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_SmartSite .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_SmartSite .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_SmartSite .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_SmartSite .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_SmartSite .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_SmartSite .rmGroup a.rmExpanded .rmExpandDown {
    /*background-position: 100% -240px;*/
    background-image: url('/Skins/Black/Menu/rightArrowOn.png');
    background-position: right;
}

.RadMenu_SmartSite .rmVertical a.rmDisabled:hover .rmExpandRight,
.RadMenu_SmartSite .rmGroup a.rmDisabled:hover .rmExpandDown {
    background-image: url('Menu/rmSprite.png');
    background-position: 100% -216px;
}

/* </expand arrows> */
/* <rtl> */
.RadMenu_SmartSite_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_SmartSite_rtl .rmVertical a.rmExpanded:hover .rmText {
    background-position: 0 500px;
    background-repeat: no-repeat;
}

.RadMenu_SmartSite_rtl .rmGroup a.rmLink:hover,
.RadMenu_SmartSite_rtl .rmGroup a.rmFocused,
.RadMenu_SmartSite_rtl .rmGroup a.rmSelected,
.RadMenu_SmartSite_rtl .rmGroup a.rmExpanded {
    background-position: 100% -264px;
}

    .RadMenu_SmartSite_rtl .rmGroup a.rmLink:hover .rmText,
    .RadMenu_SmartSite_rtl .rmGroup a.rmFocused .rmText,
    .RadMenu_SmartSite_rtl .rmGroup a.rmSelected .rmText,
    .RadMenu_SmartSite_rtl .rmGroup a.rmExpanded .rmText {
        background-position: 0 -288px;
    }

.RadMenu_SmartSite_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_SmartSite_rtl .rmRootGroup .rmExpandLeft {
    background-position: 0 -312px;
}

.RadMenu_SmartSite_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_SmartSite_rtl .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_SmartSite_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_SmartSite_rtl .rmVertical a.rmExpanded .rmExpandLeft {
    background-position: 0 -216px;
}

.RadMenu_SmartSite_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_SmartSite_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_SmartSite_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_SmartSite_rtl .rmGroup a.rmExpanded .rmExpandLeft {
    background-position: 0 -336px;
}

.RadMenu_SmartSite_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft {
    background-position: 0 -312px;
}

/* </rtl> */
/* </Submenu items> */
/* <Submenu offsets (Black - specific, overlapping submenus)> */
.RadMenu_SmartSite .rmSlide {
    margin: 0 0 0 -1px !important;
}

    .RadMenu_SmartSite .rmVertical .rmSlide,
    .RadMenu_SmartSite .rmSlide .rmSlide,
    .RadMenu_SmartSite_Context .rmGroup .rmSlide {
        margin: 0 0px 0 -1px !important;
    }

.RadMenu_SmartSite_rtl .rmSlide {
    margin: 0 0 0 0;
}

.RadMenu_SmartSite_rtl .rmFirst .rmSlide {
    margin-left: 1px;
}

.RadMenu_SmartSite_rtl .rmVertical .rmSlide,
.RadMenu_SmartSite_rtl .rmSlide .rmSlide,
.RadMenu_SmartSite_Context_rtl .rmGroup .rmSlide {
    margin: 0 0 0 5px;
}

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_SmartSite .rmLeftArrow,
.RadMenu_SmartSite .rmRightArrow {
    background-color: #4f4f4f;
}

.RadMenu_SmartSite .rmLeftArrow {
    background-position: -8px -312px;
    border-right: 1px solid #828282;
}

.RadMenu_SmartSite .rmRightArrow {
    background-position: -482px -216px;
    border-left: 1px solid #828282;
}

.RadMenu_SmartSite .rmTopArrow,
.RadMenu_SmartSite .rmBottomArrow,
.RadMenu_SmartSite .rmGroup .rmLeftArrow,
.RadMenu_SmartSite .rmGroup .rmRightArrow {
    background-color: #4f4f4f;
}

.RadMenu_SmartSite .rmTopArrow {
    background-position: 50% -367px;
    border-bottom: 1px solid #828282;
}

.RadMenu_SmartSite .rmBottomArrow {
    background-position: 50% -391px;
    border-top: 1px solid #828282;
}

/* </Scrolling arrows> */
/* <Separators> */
.RadMenu_SmartSite .rmHorizontal .rmSeparator .rmText,
.RadMenu_SmartSite .rmVertical .rmHorizontal .rmSeparator .rmText {
    height: 22px;
    margin: 1px 0 0;
    width: 1px;
    background-color: #000;
}

.RadMenu_SmartSite_Context .rmSeparator .rmText,
.RadMenu_SmartSite .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_SmartSite .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText {
    background-color: transparent;
    background-position: 0 -406px;
}

/* </Separators> */
/* </RadMenu / Black> */

