/* Staff Images */

.sharon-bradley {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/sbradley.jpg') no-repeat top;
}

.bel-st-john-day {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/bday.jpg') no-repeat top;
}

.doug-tipsword {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/dtipsword.jpg') no-repeat top;
}

.danielle-sette {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/dsette.jpg') no-repeat top;
}

.christopher-papp {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/cpapp.jpg') no-repeat top;
}

.logan-staley {
	background: #fff url('/images/staff/lstaley2.jpg') no-repeat top;
}

.angela-uperti-hite {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/ahite.jpg') no-repeat top;
}

.hannah-arensen {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/harensen.jpg') no-repeat top;
}

.gwen-wolfgang {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/gwolfgang.jpg') no-repeat top;
}

.yoshi-kubota {
	background: #fff url('//d2zsq11t5x35lg.cloudfront.net/images/staff/ykubota.jpg') no-repeat top;
}

.hannah-gomez {
  background: #fff url('/images/staff/hgomez2.jpg') no-repeat top;
}
