/* Add here all your CSS customizations */
img.responsive{max-width:100%;height:auto;}
body{ text-align: justify;
    text-justify: inter-word;}
a:hover{color:#666;text-decoration: none;}

.RadMenuPopup .rmSlide{z-index:999!important;}
.logoBradley {
  width: 598px;
  height: 58px;
  background: url("/images/common/logo.jpg") no-repeat!important;
}
 .logoBradley span{
  display: none!important;
}





#memberLink{height:21px!important;}
.prevMember{font-size:12px!important;}
.nextMember{font-size:12px!important;}


.slider .tp-bannertimer{display:none;}
.slider .bottom-label{line-height:30px;}

#social{position:absolute;
top:90%;
left:90%;
z-index:999;}
.studiodiv{display:table;}
.studiocontent{display: table-cell; vertical-align: middle;}
.studioimgright{float:right;margin-left:25px;}
	.studioimgleft{float:left;margin-right:25px;}
.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

.projectMainImage{position:relative;}
.projecttitledetail{margin-bottom:20px;text-align:left;}
.projectcategorydetail{text-align:right!important;margin:0!important;font-family:'Oswald', sans-serif;text-transform:uppercase;color:#284779;font-weight:bolder;font-size:1.4em;}

.page-header{border-bottom:0;}
.page-header h1{font-size:3em;}

.RadMenu{font-size:18px;}

.RadMenu ul.rmActive, .RadMenu ul.rmRootGroup{font-size:18px;}

.RadMenu .rmHorizontal .rmItem{padding-right:12px;}
.RadMenu_SmartSite .rmRootGroup .rmLast{padding-right:0!important;}

.RadMenu .rmHorizontal .rmText{padding-right:0!important}
.col-md-6.align-bottom{padding:0 15px!important;}
.projectdetailsidebar{padding-right:0!important;}


h1, h2, h3, h4, h6 {font-family:'Oswald', sans-serif;text-transform:uppercase;color:#284779;font-weight:bolder;}
h5{color:#BDBDBD;font-family:'Oswald', sans-serif;text-transform:uppercase;font-weight:bolder;margin:5px 0;}
h3{margin:20px 0 10px 0!important;}

#column1-wrap .col-md-4{padding-left:0!important;}
.col-md-12 .col-md-12{padding-left:0!important;}

.col-md-12.propertyImages{padding-right:0!important;}
.col-md-7.projectnamediv{padding-left:0;margin-bottom:5px;}
.col-md-5.categoryname{text-align:right;padding-right:0;margin-top:8px;}
.projectfeaturesblue{background-color:#a5a5bf;color:#284779;padding:10px;}
.projectfeaturesblue p{color:#284779!important;}


.programfeaturesdesignimpact{margin-top:0;}
#column1-wrap .col-md-8{padding-left:15px!important;}
#arrowRproject {

    position: absolute;
    right: 2%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}


#arrowLproject {

    position: absolute;
    left: 2%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}

#arrowRdi {

    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}


#arrowLdi {

    position: absolute;
    left: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}

#projectArrowRdi {

    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}


#projectArrowLdi {

    position: absolute;
    left: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}

#column1{width:400px;}
#column2{margin-top:0;}

#titleoverimage{position:absolute;top:5px;left:66%;z-index:999;text-transform: uppercase;color:#fff;font-family:'Oswald', sans-serif;font-weight:bolder;width:300px;text-align:right;}

.projectname{font-family:'Oswald', sans-serif;text-transform:uppercase;color:#284779;font-weight:bolder;font-size:3em;}
.projectlocation{color:#BDBDBD;font-family:'Oswald', sans-serif;text-transform:uppercase;font-weight:bolder;font-size:1em;}

#column1project{margin-top:25px;padding-right:25px;}
#column2project{margin-top:25px;}

#bottomProjectBlue {
    background-color: #284779;
    height: 5px;
    margin: 0 3px 0 15px;
    width: 100%;
    padding:0 15px;
}

#gallery-t-group .rsThumb{width:146px!important;height:146px!important;}
#gallery-t-group .rsThumbs{height:146px!important;margin-bottom:25px!important;}

/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left:0!important;padding-right:0!important;}

.row{margin-left:0!important;margin-right:0!important;}*/

.social{position:absolute;
top:87%;
	left:78%;
	width:180px;
	z-index:999;
}


#mainContent img {
       display: block;
       max-width: 100%;
       height: auto;
}



#header .mobile-nav {
    display: none;
    padding-top: 10px;
    padding-left: 10px;
}

.categorymainimage img {
		float: right;
    width: 100%;
    object-fit: cover;
    height: 475px;
}







/* Header Nav Main Mobile */

@media (min-width:1401px){
	
	.container{width:1400px!important;}
	
	.studiodiv{display:table;}
	.studiocontent{display: table-cell; vertical-align: middle;}
	.studioimgright{float:right;margin-left:25px;}
	.studioimgleft{float:left;margin-right:25px;}
	
	
.flex-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
}
	
	.projectMainImage{margin-top:40px;}
}
@media (min-width:1200px) and (max-width:1399px){
	
	.RadMenu_SmartSite .rmRootGroup a.rmLink{padding-left:5px!important;}
	.recentpresentations{width:60%;}
	
	
.flex-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
}
}
@media (min-width:1024px) and (max-width:1200px){
	 .logoBradley {
  width: 325px;
  height: 50px;
  background: url("/images/common/logo-icon.jpg") no-repeat!important;
	margin-bottom:0;
	}
	
	img.responsivehalf{width:50%;float:right;}
	.recentpresentations{width:57%;}
	.designimpact{padding-right:0!important;}
	#column1-wrap .col-md-4{width:100%;padding-right:0!important;}

	.sliderProject .slick-track{width:100%!important;}
	.sliderProject .slick-slide{width:12.1%!important;margin:0 .2% 15px .2%;}
	.sliderProject .slick-prev{display:none!important;}
	.sliderProject .slick-next{display:none!important;}
	
	
	.slick-track{width:100%!important;transform:none!important;}
	.slick-slide{width:12.1%!important;margin:0 .2% 15px .2%;}
.slick-prev{display:none!important;}
	.slick-next{display:none!important;}
	.slick-slide img{width:111px;}
	#ctl00_ContentPlaceHolder1_categoryImage{
		width:100%!important;
		height:auto!important;
		}
	.col-md-8.categorymainimage{padding-left:0!important;width:100%;margin-top:20px;}
	#titleoverimage{top:28px;left:65%}
#titleoversummary{display:none;}

#mainImage{width:100%!important;height:auto!important;margin-top:15px;}
	.col-md-5.categoryname{margin-top:18px!important;}
	.col-md-7.projectnamediv{text-align:left!important;}
	.col-md-12.propertyImages{margin:15px 0!important;}
	.projectname{line-height:38px;}
	
	.flex-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
}
	
	#arrowRproject {

    position: absolute;
    right: 2%;
    top: 52%!important;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}


#arrowLproject {

    position: absolute;
    left: 2%;
    top: 52%!important;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}

}

@media (min-width:992px) and (max-width:1023px){
	img.responsivehalf{width:50%;float:right;}
	 .logoBradley {
  width: 325px;
  height: 50px;
  background: url("/images/common/logo-icon.jpg") no-repeat!important;
	margin-bottom:0;
	}
	
	.recentpresentations{width:56%;}
	
	#arrowRproject {

    position: absolute;
    right: 2%;
    top: 50%!important;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}


#arrowLproject {

    position: absolute;
    left: 2%;
    top: 50%!important;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}
}


@media (max-width: 991px) {

	
    #header .header-btn-collapse-nav {
        outline: 0;
        display: none;
    }

    #header .mobile-nav {
        display: block;
        float: right;
    }
	
	img.responsivehalf{width:50%;float:right;}
	.recentpresentations{width:100%;}
	
.sliderProject .slick-track{width:100%!important;}
	.sliderProject .slick-slide{width:24%!important;margin:0 3px 15px 3px;}
	.sliderProject .slick-prev{display:none!important;}
	.sliderProject .slick-next{display:none!important;}
	
	.slick-cloned {display:none!important;}
	.slick-track{width:100%!important;transform:none!important;}
	 .slick-slide{width:24%!important;margin:0 3px 15px 3px;}
.slick-prev{display:none!important;}
	.slick-next{display:none!important;}

	#arrowRproject {
    width: 20px;
    height: 50px;
    position: absolute;
    right: 2%;
    top: 50%!important;
    cursor: pointer;
    z-index: 998;
}


#arrowLproject {
    width: 20px;
    height: 50px;
    position: absolute;
    left: 2%;
    top: 50%!important;
    cursor: pointer;
    z-index: 998;
}
	
	#ctl00_ContentPlaceHolder1_categoryImage{
		width:720px!important;
		height:auto!important;
		margin-top:20px;}
	.col-md-8.categorymainimage{padding-left:0!important;}
	#titleoverimage{top:28px;left:55%}
#titleoversummary{display:none;}
.projectcategorydetail{text-align:left!important;font-size:18px!important;}
#mainImage{width:100%!important;height:auto!important;margin-top:15px;}
	
	.col-md-7.projectnamediv{text-align:left!important;}
	.col-md-5.categoryname{text-align:left!important;padding-left:0!important;}
	.col-md-12.propertyImages{margin:15px 0!important;}
	.projectname{line-height:38px;}
	
	.col-md-12 .row .col-md-5{margin-bottom:15px;}
}

@media (max-width: 767px) {
   
	
	#header .mobile-nav {
        position: absolute;
        bottom: 0 !important;
        right: 10px;
    }

	img.responsivehalf{width:50%;float:right;}
	.col-md-10{width:90%;float:left;}
	.col-md-2{width:10%;float:left;}
	.col-md-5 img{width:100%;}
	
	.school-title{width:96%!important;max-width:96%!important;}
	
    .page-header h2 {
        color: white;
    }

    .designed-by-dcwd {
        font-size: 10px;
        color: #666666 !important;
    }

    .thumb-info-action-icon {
        color: white;
    }
		
	.sliderProject .slick-track{width:100%!important;}
	.sliderProject .slick-slide{width:24%!important;margin:0 3px 15px 3px;}
	.sliderProject .slick-list{width:100%!important;}
	.sliderProject .slick-prev{display:none!important;}
	.sliderProject .slick-next{display:none!important;}

	.slick-cloned {display:none!important;}
	.slick-track{width:100%!important;}
	.slick-slide{width:24%!important;margin:0 3px 15px 3px;}
	.slick-list{width:100%!important;}
.slick-prev{display:none!important;}
	.slick-next{display:none!important;}
	
	#ctl00_ContentPlaceHolder1_categoryImage{
		width:100%!important;
		height:auto!important;
		margin-top:10px;}
	#titleoverimage{top:28px;left:50%}
	#mainImage{width:100%!important;height:auto!important;margin-top:15px;}
	#arrowRproject {
    width: 20px;
    height: 50px;
    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
}


#arrowLproject {

    position: absolute;
    left: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}

#arrowRdi {

    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}


#arrowLdi {

    position: absolute;
    left: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}

#projectArrowRdi {

    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}


#projectArrowLdi {

    position: absolute;
    left: 2%;
    top: 50%;
    cursor: pointer;
    z-index: 998;
	border-radius:6px;
}
	.col-md-7.projectnamediv{text-align:left!important;}
	.col-md-5.categoryname{text-align:left!important;padding-left:0!important;}
	.col-md-12.propertyImages{margin:15px 0!important;}
	.projectname{line-height:38px;}
	
	.col-md-12 .row .col-md-5{margin-bottom:15px;}

.error, .error-message {
    color: #c20000;
}
	
	@media (min-width: 480px) and (max-width:766px) {
	
	html.sticky-header-active #header .header-body{position:relative;}
.logoBradley {
  width: 330px;
  height: 50px;
  background: url("/images/common/logo-icon.jpg") no-repeat!important;
	margin-bottom:0;
	}
			.studiodiv{display:table;}
	.studiocontent{display: block; vertical-align: top;clear:both;padding:10px 0;}
	.studioimgright{float:none;margin-left:0!important;width:100%;height:auto;}
	.studioimgleft{float:none;margin-right:0!important;width:100%;height:auto;}
		
		.community{width:100%!important;height:auto;}
		
	}
	
	/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { }
	
@media (max-width: 479px) {
	
	html.sticky-header-active #header .header-body{position:relative;}
.logoBradley {
  width: 300px;
  height: 46px;
  background: url("/images/common/logo-icon-phone.png") no-repeat!important;
	margin-bottom:0;
	}
	.studiodiv{display:table;}
	.studiocontent{display: block; vertical-align: top;clear:both;padding:10px 0;}
	.studioimgright{float:none;margin-left:0!important;width:100%;height:auto;}
	.studioimgleft{float:none;margin-right:0!important;width:100%;height:auto;}
	.community{width:100%!important;height:auto;}
	
	.RadMenu_SmartSite .rmRootToggle{color:#284779;}
	
	#header .header-container{margin-top:10px;}
	#column1-wrap .col-md-4{padding-right:0!important;}
		.col-md-12.propertyImages{margin:15px 0!important;}
	.col-md-12.designimpact{padding:0!important;}
	.categoryname{margin-bottom:0!important;}
	.col-md-4{padding:0 15px;}
	#column1project{padding-right:0;}
	.col-md-12 .row .container .row .col-md-12{margin:0;}
	.col4nomargin{padding:0!important;margin-bottom:10px;}
	.colmarginbottom{margin-bottom:10px;}
.social{position:absolute;
top:75%!important;
left:60%!important;
	width:130px;
z-index:999;}
	
	#ctl00_ContentPlaceHolder1_categoryImage{width:100%!important;height:auto!important;margin-top:20px;}
#titleoversummary{display:none;}
.projectcategorydetail{text-align:left!important;font-size:18px!important;}
#mainImage{width:100%!important;height:auto!important;margin-top:15px;}
	#titleoverimage{left:0%!important;width:90%!important;}
	.programfeaturesdesignimpact{margin-top:10px;}
	
	.itembox {
    background: white;
    width: 350px!important;
    height: auto!important;
    margin: 10px;
    float: left;
    position: relative;
}
	
	.itembox img{
		width:100%!important;
		height:auto!important;
	}
	
	.sliderProject .slick-track{width:100%!important;}
	.sliderProject .slick-slide{width:50%!important;margin:0 0 10px 0;}
	.sliderProject .slick-list{width:100%!important;}
	.sliderProject .slick-prev{display:none!important;}
	.sliderProject .slick-next{display:none!important;}
	.school-title{max-width:92%!important;}
	
	.slick-track{width:100%!important;margin-right:0!important;}
	.slick-slide{width:50%!important;margin:0 0 20px 0;}
	.slick-list{width:100%!important;}
	.slick-slide img{width:95%;height:auto;}
.slick-prev{display:none!important;}
	.slick-next{display:none!important;}
	#arrowRproject {
    width: 20px;
    height: 50px;
    position: absolute;
    right: 3%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
}


#arrowLproject {
    /*width: 20px;
    height: 50px;*/
    position: absolute;
    left: 3%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
}

#arrowRdi {
    /*width: 20px;
    height: 50px;*/
    position: absolute;
    right: 2%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
}


#arrowLdi {
    /*width: 20px;
    height: 50px;*/
    position: absolute;
    left: 2%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
}

#projectArrowRdi {
    /*width: 20px;
    height: 50px;*/
    position: absolute;
    right: 2%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
}


#projectArrowLdi {
    /*width: 20px;
    height: 50px;*/
    position: absolute;
    left: 2%;
    top: 45%;
    cursor: pointer;
    z-index: 998;
}
	.col-md-7.projectnamediv{text-align:left!important;}
	.col-md-5.categoryname{text-align:left!important;padding-left:0!important;}

	.projectname{line-height:38px;}
	
	.col-md-12 .row .col-md-5{margin-bottom:25px;}

}


.staffSummary{padding-bottom:10px}

