
.RadMenu_SmartSite .rmRootToggle {
    color: #426d8f;
    border-color: #d1e3eb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: white;
    box-shadow: none;
    bottom: 0
}

    .RadMenu_SmartSite .rmRootToggle:active, .RadMenu_SmartSite .rmRootToggle.rmExpanded {
        color: white;
        border-color: #426d8f;
        background-color: #426d8f;
    }

/*.mobile-nav li.rmItem:hover{
        background-color:#426d8f;
        color:white
    }*/



.RadMenu_SmartSite.rmDisabled .rmRootToggle:active, .RadMenu_SmartSite.rmDisabled .rmRootToggle.rmExpanded {
    color: black;
    border-color: #cdcdcd;
    background-color: #f9f9f9;
}

.RadMenuPopup_SmartSite {
    color: black;
    border-color: #cdcdcd;
    background-color: white;
    margin-top:20px
}

    .RadMenuPopup_SmartSite:before {
        border-color: transparent transparent #cdcdcd;
    }

    .RadMenuPopup_SmartSite:after {
        border-color: transparent transparent white;
    }

    .RadMenuPopup_SmartSite .rmItem {
        border-color: #cdcdcd;
    }

        .RadMenuPopup_SmartSite .rmItem.rmSelected {
            color: black;
            background-color: #e8e8e8;
        }

    .RadMenuPopup_SmartSite .rmLoading:after {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .RadMenuPopup_SmartSite .rmLoadingIcon:after {
        background-image: url('../MetroTouch/Common/loading_small.gif');
    }
